language: node_js
node_js:
  - 18
  - 20
cache:
  directories:
    - node_modules
    - ~/.pnpm-store
before_install:
  - npm install -g pnpm
install:
  - pnpm install --frozen-lockfile
script:
  - pnpm test -- --watchAll=false
  - pnpm build
deploy:
  provider: pages
  cleanup: false
  github_token: $GITHUB_TOKEN
  keep_history: true
  local_dir: build
  on:
    branch: master